// @use '.partials/variables' as *;
// @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import "node_modules/@fontsource/pt-sans-narrow/index.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
}

// img {
//   max-width: 100%;
// }

.content {
  width: 90%;
  max-width: 14000px;
  margin: 0 auto;
}